html {
  scroll-behavior: smooth;
}
/* ===== SIDEBAR ANIMATION ===== */
@keyframes slideInRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}

/* Overlay fade */
@keyframes fadeOverlay {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* ===== SKELETON ===== */
@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    #1e2430 25%,
    #2a2f3a 37%,
    #1e2430 63%
  );
  background-size: 400px 100%;
  animation: shimmer 1.2s infinite linear;
  border-radius: 8px;
}
